.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.color-default {
  color: var(--color-black);
}

.color-accent1 {
  color: var(--color-blue);
}

.color-accent2 {
  color: var(--color-green);
}

.color-inverse {
  color: var(--color-white);
}

.size-smaller {
  font-size: 0.8rem;
}

.size-normal {
  font-size: 1rem;
}

.size-larger {
  font-size: 1.2rem;
}
