.tooltip-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: var(--border-1);
  border-radius: 0.5rem;
  border-color: var(--color-green);
  background-color: #fff;
  padding: 0.5rem;
}

.tooltip-container:hover .tooltip {
  display: block;
}
