@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-bold: 2px solid;
  --border-thin: 1px solid;
  --color-primary: rgb(0 73 126);
  --color-secondary: rgb(159 197 45);
  --color-gold: rgb(255 215 0);
  --color-text: rgb(0 0 0);
  --color-background: rgb(255 255 255);
  --color-gray: rgb(200 200 200);
  --color-success: rgb(86 197 45);
  --color-error: rgb(255 80 0);
  --font-size-sub: 0.75em;
  --font-size-normal: 1em;
  --font-size-heading1: 2em;
  --font-size-heading2: 1.6em;
  --font-size-heading3: 1.2em;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --size-normal: 1rem;
  --size-double: 2rem;
  --border-radius: 1rem;

  /* font-size: 14px;
  font-weight: var(--font-weight-normal); */
}
