.header {
  display: flex;
  position: relative;
  justify-content: center;
  margin-block-end: 1rem;
  border-block-end: var(--border-1);
  border-color: var(--color-gray);
  text-align: right;
  line-height: 1.3em;
}
