.button {
  display: none;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 600;
}

.links a {
  text-decoration: none;
  color: inherit;
}

.user-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-image {
  border: var(--border-2);
  border-radius: 50%;
  border-color: var(--color-blue);
}

.user-logout {
  font-size: 0.8em;
}

@media (width <= 800px) {
  .button {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    inset-block-start: 100%;
    inset-inline: 0;
    flex-direction: column;
    gap: 2rem;
    z-index: 100;
    border-block: var(--border-1);
    border-color: var(--color-gray);
    background: var(--color-white);
    padding: 2rem;
    width: 100%;
  }

  .links-visible {
    display: flex;
  }
}
