:root {
  --border-1: 1px solid;
  --border-2: 2px solid;
  --border-radius-1: 1.5em;
  --border-radius-2: 0.5em;
  --color-blue: rgb(0 73 126);
  --color-green: rgb(159 197 45);
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);
  --color-gray: rgb(200 200 200);
  --color-success: rgb(86 197 45);
  --color-error: rgb(255 80 0);
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  font-size: 14px;
  font-weight: var(--font-weight-normal);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-inline-start: 1em;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
