.wrapper {
  position: relative;
}

.button {
  display: none;
}

@media (width < 1000px) {
  .button {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    inset: 0;
    inset-block-start: 100%;
    z-index: 100;
    background: var(--color-background);
    width: 100%;
  }

  .menuVisible {
    display: block;
  }
}
