.default {
  border: var(--border-1);
  border-color: var(--color-primary);
}

.color-default {
  --color-primary: transparent;
}

.color-blue {
  --color-primary: var(--color-blue);
}

.color-green {
  --color-primary: var(--color-green);
}

.corner-1 {
  border-radius: var(--border-radius-1);
}

.corner-2 {
  border-radius: var(--border-radius-2);
}

.padding-1 {
  padding-block: 1rem;
  padding-inline: 1rem;
}

.padding-2 {
  padding-block: 2rem;
  padding-inline: 2rem;
}

.variant-fill {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

.variant-outline {
  border-color: var(--color-primary);
}

.width-phone {
  width: 100%;
  max-width: 600px;
}

.width-tablet {
  width: 100%;
  max-width: 800px;
}

.width-desktop {
  width: 100%;
  max-width: 1000px;
}
