.color-default {
  --color-primary: var(--color-accent-3);
}

.color-accent1 {
  --color-primary: var(--color-accent-1);
}

.color-accent2 {
  --color-primary: var(--color-accent-2);
}

.color-error {
  --color-primary: var(--color-error);
}

.default {
  display: block;
  border: var(--border-1);
  border-radius: var(--border-radius-2);
  border-color: var(--color-primary);
  background: transparent;
  padding-block: 0.5em;
  padding-inline: 1em;
  width: 100%;
  min-height: 10rem;
  font: inherit;
  font-weight: var(--font-weight-bold);
}

.error {
  --color-primary: var(--color-error);

  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.label {
  display: block;
  padding-block-end: 0.5em;
  padding-inline-start: 1em;
}

.error-message {
  border-end-start-radius: var(--border-radius-2);
  border-end-end-radius: var(--border-radius-2);
  background: var(--color-error);
  padding-block: 0.5em;
  padding-inline: 1em;
  color: var(--color-accent-3);
}
