.default {
  border: var(--border-1);
  border-radius: var(--border-radius-1);
  background: transparent;
  cursor: pointer;
  padding-block: 0.5em;
  padding-inline: 1em;
  font: inherit;
  font-weight: var(--font-weight-bold);
}

.color-accent1 {
  --color-primary: var(--color-accent-1);
  --color-text: var(--color-accent-4);
}

.color-accent2 {
  --color-primary: var(--color-accent-2);
  --color-text: var(--color-accent-3);
}

.color-success {
  --color-primary: var(--color-success);
  --color-text: var(--color-accent-3);
}

.color-error {
  --color-primary: var(--color-error);
  --color-text: var(--color-accent-3);
}

.variant-fill {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-text);
}

.variant-outline {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.variant-text {
  border-color: transparent;
  color: var(--color-primary);
}
