.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
  background: var(--color-green);
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.links a {
  text-decoration: none;
  color: inherit;
}
